.bold_title {
    font-size: 24px;
    font-weight: 800;

    margin-left: 10px;
}

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.profile-label {
    font-weight: bold;
    margin-bottom: 5px;
}
